/vendor/
/node_modules/
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
.env
.env.backup
.env.production
.phpunit.result.cache
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
composer.lock
package-lock.json
npm-debug.log
yarn-error.log
.env
storage/logs/*.log
